.filter {
    display: flex;
    flex-direction: column;
}

.filterLable {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: rgb(58, 58, 58);
}

.filterInput {
    display: flex;
    width: 300px;
    height: 20px;
    margin-top: 5px;
    border-color: #364f6a;


    border: 1px solid rgba(108, 128, 146, 0.372);
    box-shadow: 0px 1px 2px rgba(108, 128, 146, 0.372);
    border-radius: 6px;
    font-size: 18px;
}